/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $main-font-color;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline {
  &-primary {
    color: $primary-headline-color;
    margin-left: 10px;
  }

  &-secondary {
    @include weight-and-color(300, $main-font-color);
  }
}

.link {
  @include weight-and-color(700, $link-font-color);
}

.blockquote {
  font: {size: 1.5em;
        weight: 300;
        style: italic;
        }
  
  margin-left: 20px;
  padding-left: 20px;

  border: {left: 8px solid $primary-headline-color;
          radius: 5px;
          }
  
}